*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}
html{
font-size:10px;
}
html,body{
height:100%;
width:100%;
}

#main-cont{
    width: 100%;
    
}

#head{

    background-color: lightslategrey;
    height: 6rem;
    width: 100vw;
    overflow: hidden;
}
#head nav{
    display: flex;   
    padding: 1rem 2rem 0 1rem;
    justify-content: space-between;
}


#main-page{
    /* background-color: lightblue; */
    height: calc(100vh - 6rem);
    width: 100vmax;
}
#head nav li a{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 2.5rem;
}
#head nav li a:hover{
    color: rgb(88, 87, 87);
}
#head nav li{
    margin-left: 3rem; 
    display: inline;
}
.logo img{
    height: 4rem;
    width: 6rem;
}
.search{
    user-select: none;
    border-radius: 5px;
    border: 2px solid;
    padding: 3px 6px 0 0;
    background-color: white;
}
.search input[type="text"]{
    
    color: black;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 0 0 0 0.5rem;
    border-radius: 0.4rem;
    height: 3.5rem;
    width: 41rem;
    /* background-color:rgb(215, 214, 214); */
}

.search  i{
    font-size: 2.7rem;
}

.icon{
    cursor: pointer;
    display: inline-block;   
}


.burger i{
    display: none;
}
.sign{
    border: 1px solid plum;
    color: white;
    border-radius: 5px;
    font-weight: 900;
    padding: 3px;
    background-color: rgb(249, 101, 101);
}
.sign:hover{
    background-color: red;
    }

#head .menu-2 li a{
    text-decoration: none;
    color: black;
}
#head .menu-2 li{
    list-style: none;
}
#head .menu-2 {
    position: relative;
    transition-property: all;
    transition-duration: 3S;
    margin-top: 0.8rem;
    font-size: 3rem;
    padding: 0 0 0 1rem;
    line-height: 7rem;
    background-color: lightgreen;
    height: 40vh;
    width: 30vw;
    font-weight: bolder;
    display: none;
    
}
.sign-2{
    border: 1px solid plum;
    color: white;
    border-radius: 5px;
    font-weight: 900;
    padding: 3px;
    background-color: rgb(249, 101, 101);
}
.sign-2:hover{
    background-color: red;
    }

